<div class="panel-heading">
    <h3 class="panel-title">{{i18n "sessions"}}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <a href="session/view/678">Cras justo odio</a>
        <a class="ux-session-action pull-right" href="session/pause/678"><span class="glyphicon glyphicon-time"></span></a>
    </li>
    <li class="list-group-item">
        <a href="session/view/876">Dapibus ac facilisis in</a>
        <span class="pull-right glyphicon glyphicon-time"></span>
    </li>
    <li class="list-group-item"><a href="session/view/45">Morbi leo risus</a><span class="pull-right glyphicon glyphicon-pause"></li>
    <li class="list-group-item"><a href="session/view/66">Porta ac consectetur ac</a><span class="pull-right glyphicon glyphicon-time"></li>
</ul>
<div class="ux-sessions-buttons">
    <a href="session/add" class="btn btn-large btn-primary pull-right ux-add-btn">{{i18n "sessions.new"}}</a>
</div>