<div class="panel-heading">
    <h3 class="panel-title">{{i18n "sessions"}}</h3>
</div>
<ul class="list-group"></ul>
<div class="ux-sessions-buttons">
    <a href="session/add" class="btn btn-large btn-primary pull-right ux-add-btn">{{i18n "sessions.new"}}</a>
</div>