<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">{{i18n "home"}}</a></li>
            <li><a href="/email-send">{{i18n "send.email"}}</a></li>
            <li class="active"><a href="/about">{{i18n "about"}}</a></li>
        </ul>
        <h3 class="muted">{{i18n "app.name"}}</h3>
    </div>

    <hr>

    <div>
        <p>
            This is a very simple demo application. The intent of this software is to show how easy one can develop modern
            Javascript applications with <a href="http://yuilibrary.com/">YUI</a>, <a href="http://lesscss.org/">Lesscss</a> and
            <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>. It also shows the powerful back-end
            code provided by the JEE standards and <a href="http://tomee.apache.org/">Apache TomEE</a>.
        </p>

        <p>
            For more information about this and other demo projects, go to <a href="http://buildnplay.blogspot.ca/">http://buildnplay.blogspot.ca/</a>.
        </p>
    </div>

    <hr>

    <div class="footer">
        <p>Apache TomEE <a href="http://tomee.apache.org/">http://tomee.apache.org/</a></p>
    </div>

</div>